<%# locals: (title: "Search", tags: "") %>

<section class="post-search">
  <label for="tags" class="post-search-title"><%= title %></label>
  <span class="post-search-help"><%= link_to "[search help]", help_page_path(id: "cheatsheet") %></span>

  <%= form_tag(posts_path, method: "get", rel: "search", class: "post-search-form") do %>
    <% if params[:random] %>
      <%= hidden_field_tag :random, params[:random] %>
    <% end %>

    <div class="post-search-input-row">
      <%= text_area_tag("tags", tags, placeholder: "Search posts by tag", rows: 1, data: { hotkey: "search", autocomplete: "tag-query" }) %>
      <%= tag.button(svg_icon(:search), type: "submit", title: "Search") %>
    </div>

    <div class="post-advanced-search-header">
      <details class="post-advanced-search">
        <summary>Advanced options</summary>

      <div class="post-advanced-search-controls">
        <div class="post-advanced-search-row post-advanced-search-sort-row">
          <label class="post-advanced-search-sort-label">
            Sort
            <%= content_tag(:select, class: "post-advanced-search-sort styled-dtext", data: { advanced_search: "sort" }) do %>
              <%= tag.optgroup(label: "Basic") do %>
                <%= tag.option("Default", value: "") %>
                <%= tag.option("Random", value: "random") %>
                <%= tag.option("Hot", value: "hot") %>
                <%= tag.option("ID", value: "id") %>
              <% end %>
              <%= tag.optgroup(label: "Dates") do %>
                <%= tag.option("Created", value: "created") %>
                <%= tag.option("Updated", value: "updated") %>
                <%= tag.option("Change sequence", value: "change") %>
              <% end %>
              <%= tag.optgroup(label: "Community") do %>
                <%= tag.option("Score", value: "score") %>
                <%= tag.option("Favorites", value: "favcount") %>
                <%= tag.option("Comments", value: "comment") %>
                <%= tag.option("Comment count", value: "comment_count") %>
                <%= tag.option("Bumped comments", value: "comment_bumped") %>
              <% end %>
              <%= tag.optgroup(label: "Media") do %>
                <%= tag.option("Resolution", value: "mpixels") %>
                <%= tag.option("File size", value: "filesize") %>
                <%= tag.option("Landscape", value: "landscape") %>
                <%= tag.option("Portrait", value: "portrait") %>
                <%= tag.option("Duration", value: "duration") %>
              <% end %>
              <%= tag.optgroup(label: "Tag count") do %>
                <%= tag.option("All tags", value: "tagcount") %>
                <%= tag.option("General tags", value: "general_tags", class: "dtext-color-general") %>
                <%= tag.option("Artist tags", value: "artist_tags", class: "dtext-color-artist") %>
                <%= tag.option("Contributor tags", value: "contributor_tags", class: "dtext-color-contributor") %>
                <%= tag.option("Copyright tags", value: "copyright_tags", class: "dtext-color-copyright") %>
                <%= tag.option("Character tags", value: "character_tags", class: "dtext-color-character") %>
                <%= tag.option("Species tags", value: "species_tags", class: "dtext-color-species") %>
                <%= tag.option("Invalid tags", value: "invalid_tags", class: "dtext-color-invalid") %>
                <%= tag.option("Meta tags", value: "meta_tags", class: "dtext-color-meta") %>
                <%= tag.option("Lore tags", value: "lore_tags", class: "dtext-color-lore") %>
              <% end %>
              <%= tag.optgroup(label: "Technical") do %>
                <%= tag.option("MD5", value: "md5") %>
                <%= tag.option("Notes", value: "note") %>
              <% end %>
              <%= tag.option("Custom", value: "__custom", hidden: true) %>
            <% end %>
          </label>

          <%= content_tag(:select, class: "post-advanced-search-direction-select", aria: { label: "Sort direction" }, data: { advanced_search: "direction" }) do %>
            <%= tag.optgroup(label: "Direction") do %>
              <%= tag.option("Desc", value: "desc") %>
              <%= tag.option("Asc", value: "asc") %>
            <% end %>
          <% end %>
        </div>

        <div class="post-advanced-search-row post-advanced-search-inpool-row">
          <label>
            In pool
            <%= content_tag(:select, class: "post-advanced-search-inpool", data: { advanced_search: "inpool" }) do %>
              <%= tag.option("Unset", value: "") %>
              <%= tag.optgroup(label: "Strict") do %>
                <%= tag.option("Yes", value: "true") %>
                <%= tag.option("No", value: "false") %>
              <% end %>
            <% end %>
          </label>
        </div>
      </div>
      </details>

      <div class="search-controls">
        <button id="search-fullscreen" class="st-button" type="button" title="Fullscreen mode">
          <%= svg_icon(:fullscreen) %>
        </button>
        <button id="search-settings" class="st-button" type="button" title="Layout settings">
          <%= svg_icon(:settings) %>
        </button>
      </div>
    </div>
  <% end %>
</section>
